#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #65a30d;
  background-color: #1d1715;
  background-image: url('./assets/WoodgrainAIBackground.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}

.navbar {
  background-color: #65a30d;
  color: #1d1715;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: #1d1715;
  margin: 0 10px;
  text-decoration: none;
}

.account-dropdown {
  position: relative;
}

.account-button {
  background: none;
  border: none;
  color: #1d1715;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #65a30d;
  border: 1px solid #1d1715;
  z-index: 1;
}

.dropdown-item {
  display: block;
  background: none;
  border: none;
  color: #1d1715;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.signin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signin-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.signin-input {
  display: block;
  margin: 10px 0;
  width: 100%;
}

.signin-button {
  margin-right: 10px;
}

